/* major html section */
body{
    font-family:'Montserrat',sans-serif;
    text-align: center;
}
h1,h2,h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900; 
}
.big-heading{
    font-size:  3rem; 
    line-height: 1.5;
    text-align: left;
}
.container-fluid{
    padding: 7% 15%;
}
p{
    color: #8f8f8f;
}
h2{
    color: #fff; 
}
em{
    color: #fff;
}
/* color section */
.color-section{
    background-color: #ff4c68;
    color: #fff;
}
.white-section{
    color: #fff;
    color: black;
}
/* nav section */
.navbar{
    padding-bottom: 4.5rem;
    color: #fff;
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 20px;
}
.nav-link{
    font-family: 'Montserrat-Light', sans-serif;
    font-weight: bold;
    font-size: large;
}
.download-button{
    margin: 5% 7% 5% 0;
}
/* title section */
#title{
    background-color: #ff4c68;
    color: #fff;
}
#title .container-fluid{
    padding:3% 15%
}
.title-image{
    width: 60%;
    transform: rotate(-25deg);
    position: absolute; 
    right: 20%;   
}
.positioning{
    position: relative;
  }


/* features section */
#features{
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.box{
    padding: 5%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}



/* testimonial section */
#testimonials{
    background-color: #ef8172;
}
.testimonial-image{
    border-radius: 100%;
    margin: 20px;
    width: 10%;
}


/* press section */
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.card-heading{
    color: black;
}


/* pricing section */
#pricing{
    padding: 100px;
}
.pricing-columb{
    padding: 3% 2%;
}


/* cta section */
.cta-heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}
.last-btn{
    padding-top: 10px;
    margin: 7% 5% 7% 0;
}


/* footer section */
.social-icon{
    margin: 20px 10px;
}


/* responsive section */
@media(max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}
